<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style>
  .calednar-wrap{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
  }
  
  #calendar{
    width: 80%;
    height: 80%;
  }

</style>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
<script>
  
</script>

</head>
<body>
  
  <div class="calednar-wrap">
    <div id='calendar'></div>
  </div>
  

  
  <script>

$(document).ready(function() {
  var calendarEl = $('#calendar')[0];
  var calendar = new FullCalendar.Calendar(calendarEl, {
    initialView: 'dayGridMonth',
    evnets: [],
    
    // dataClick : function(info){
    //   calendar.addEvent({title : "제목"})
    // }
    





    
  });
  calendar.render();
});








    $(document).ready(function() {
  $.ajax({
    type: "get",
    url: "/calendar/info",
    dataType: "json",
    success: function(data) {
      console.log(data);
      let events = [];
      $.each(data, function(index, event) {
        events.push({
          // id: event.EVENT_ID,
          // title: event.EVENT_NAME,
          // start: event.START_DATE,
          // end: event.END_DATE
          id: 1,
          title: "제목",
          start: "2024-09-06 17:00:00",
          end: "2024-09-08 17:00:00"
        });
      });
      $('#calendar').fullCalendar({
        events: events
      });
    },
    error : function(){
      console.log("에러");
    }

    
  });
});
    
    
    
    
    
    
  </script>
    
</body>
</html>