<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.iei.todo.model.dao.TodoDao">
	<select id="selectAllParentTodo" resultType="todo">
		select todo_no, todo_content, todo_done from todo where user_no = #{user_no} and todo_date = to_char(sysdate, 'yyyy-mm-dd') and todo_ref_no is null
	</select>
	<select id="selectAllChildTodo" resultType="todo">
		select todo_no, todo_content, todo_done from todo where user_no = #{user_no} and todo_date = to_char(sysdate, 'yyyy-mm-dd') and todo_ref_no is not null
	</select>
	<insert id="insertParent">
		insert into todo values(todo_seq.nextval, #{todoContent}, 0, #{userNo}, to_char(sysdate, 'yyyy-mm-dd'), null)
	</insert>
	<insert id="insertChild">
		insert into todo values(todo_seq.nextval, #{todoContent}, 0, #{userNo}, to_char(sysdate, 'yyyy-mm-dd'), #{todoRefNo})
	</insert>
	<delete id="deleteTodo">
		delete from todo where todo_no=#{todoNo}
	</delete>
	<select id="selectUndoneTodo" resultType="todo">
	select todo_no, todo_content, todo_done from todo where user_no = #{user_no} and todo_date = to_char(sysdate, 'yyyy-mm-dd') and todo_ref_no is null and todo_done = 0
	</select>
	
	<select id="selectUndoneTodoChild" resultType="todo">
		select todo_no, todo_content, todo_done from todo where user_no = #{user_no} and todo_date = to_char(sysdate, 'yyyy-mm-dd') and todo_done = 0
		and todo_ref_no in
		<foreach collection="list" item="todo" open="(" close=")" separator=",">
		 #{todo.todoNo}
		</foreach>
	</select>
	
	<select id="selectAllUndoneTodo" resultType="todo">
	select todo_content, user_no, todo_ref_no from todo where todo_done=0 and todo_date = to_char(sysdate-1, 'yyyy-mm-dd')
	</select>
</mapper>
